.App{
  height: 100vh;
    display: flex;
    flex-direction: column;
}
/* navigation bar */

.navbar{
  display: flex;
  justify-content: space-between;
  margin-inline:3%;
  align-items: center;
  text-align: center;
  height: 5rem;
}
.navbrand,.nav-btns{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding:1%;
}
.nav-btns{
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-btns button{
  padding: 3%;
  width: 40%;
  border-radius: 10px;
  border: none;
}
.nav-btns button:hover{
  border: 1px solid black;
}
.active{
  background: black;
  color: white;
}

/* signuplogin */
.signuplogin{
  height: 100%;
  overflow: hidden;
}
.signup-section{
  margin: auto;
}
.signup{
  margin: auto;
  width: 34%;
  border-radius: 10px;
  height: 100%;
  margin-top: 3%;
  background-color: aquamarine;
  border: 1px solid transparent;
}
.signup-heading h1{
  text-align: center;
  margin-top: 3%;
  font-size: 1.8rem;
}
.signup-heading h3{
  text-align: center;
  margin:auto;
  margin-top: 1%;
  font-size: 1.2rem;
}
.form{
  display: grid;
  margin: 5%;
  margin-top: 2%;
}
.form label,input{
  margin-top: 1%;
}
.form input{
  height: 1.8rem;
  padding-left: 1%;
  width: 100%;
}
.register{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  padding: 2%;
  margin-bottom: 5%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
.home-section{
  height: 100%;
  display: flex;
}
.home-section img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.home-heading{
  /* padding-top: 3%; */
  margin-top: 10%;
}
.home-heading h1,h4,button{
  margin-top: 1.5%;
  margin-left: 7.5%;
}
.home-heading button{
  padding: 2%;
  margin-top: 3%;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 20px;
  border: none;
}

/* tweet */
.tweet-section{
  height: 100%;
  overflow: hidden;
}
.tweet{
  height: 100%;
}
.tweet-form{
    display: grid;
    margin: auto;
    padding-top: 2%;
    width: 30%;
}
.tweet-form textarea{
  height: 3rem;
  padding-left: .5%;
}
.tweet-form button{
  margin-left: 0;
}

/* user category */
.userCategory-section{
  height: 100%;
}
.userCategory{
  margin: auto;
  width: 40%;
  text-align: center;
  margin-top:1%
}
.user-btns button{
  margin:0;
  margin-top: 2%;
  width: 28%;
  position: relative;
  padding: 3%;
  border: none;
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px;   
}
.user-submit{
  padding: 3%;
  margin: auto;
  margin-top: 2%;
  width: 55%;
}

/* history */
.history-section{
  height: 100%;
}
.history{
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  padding: 20px;
}
.data{
  margin: auto;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.column{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}